@{
    ViewData["Title"] = "Course Confirmation";
    Layout = "_Layout";
}


    <style>
        
        .confirmation-container {
            text-align: center;
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .thumbs-up {
            font-size: 50px;
            color: #4caf50;
            margin-bottom: 20px;
        }

        .thank-you-message {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        
    </style>

<div class="container">
        <div class="confirmation-container">
            <div class="thumbs-up">👍</div>
            <div class="thank-you-message">Thank you!</div>
            <div class="course-name">
                You have successfully created the course. Check the "My Created Courses page to verify.
            </div>
        </div>
</div>
    



