@{
    ViewData["Title"] = "Home Page";
}
@{
    //currently this page displays all the courses that are in the database.

}


<div class="text-center">

    <h5>Welcome!</h5>
    <h3>Log in to get started!</h3>

    <div class="main-content" style="display: flex; flex-wrap: wrap; gap: 20px; align-items: center;">
        <div class="welcome-text" style="flex: 1; max-width: 60%;">
            <p>
                SeniorLearn is an intuitive online learning platform tailored specifically for older adults, offering a diverse range of courses designed to support lifelong learning, social connection, and personal growth. Through easy-to-navigate interfaces and user-friendly features, SeniorLearn enables members to browse, enroll, and participate in both one-time and recurring courses. The platform also provides role-based memberships—Standard, Professional, and Honorary—each offering unique benefits and access levels. Additionally, administrators have robust tools to manage enrollments, sessions, and user interactions, ensuring that each learning experience is well-organized and accessible. With thoughtful design elements, such as larger text, clear visuals, and simple navigation, SeniorLearn empowers seniors to engage with educational content at their own pace, fostering a sense of community and curiosity.
            </p>
        </div>
        <div class="main-image" style="flex: 1; max-width: 40%;">
            <img src="~/Images/oldpeopleinclassroom.jpg" alt="Course Image" style="width: 100%; height: auto; object-fit: cover; border-radius: 15px;">
        </div>
    </div>

</div>
<div id='calendar'></div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: @Html.Raw(ViewData[("Events")]),
            headerToolbar: {
                left: 'today prev,next',
                center: 'title',
                right: 'timeGridWeek,dayGridMonth,listMonth'
            },
        });
        calendar.render()
    });

    //TODO: create a JSON list helper to setup the calender view. sort of the same thing with a model, but for json (which i am still not certain of)
</script>